.mac-book-pro-16-3,
.mac-book-pro-16-3 * {
  box-sizing: border-box;
}
.mac-book-pro-16-3 {
  background: #ffffff;
  height: 1117px;
  position: relative;
  overflow: hidden;
}
.rectangle-4230 {
  background: #1e4b55;
  width: 1728px;
  height: 1117px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.welcome-to {
  height: auto;
  position: absolute;
  left: 186px;
  top: 329px;
  overflow: visible;
}
.spender {
  height: auto;
  position: absolute;
  left: 186px;
  top: 453.84px;
  overflow: visible;
}
.s {
  width: 804px;
  height: 1117px;
  position: absolute;
  left: 919px;
  top: 0px;
  overflow: visible;
}
.transactions-made-easier {
  height: auto;
  position: absolute;
  left: 186px;
  top: 600px;
  overflow: visible;
}
.button {
  background: #072228;
  border-radius: 8px;
  padding: 15px 60px 15px 60px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 186px;
  top: 670px;
}
.button-text {
  color: #ffffff;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  position: relative;
}

a  {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #BDDBD0;
}
