/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video 
{margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

img {
	width: 100%;
	display: block;
}

body {
	background-color: 254, 254, 254; /* Not totally white. */
	color: 16,16,16;  /* Not totally black. */
	line-height: 140%; 	/* A little extra leading. */
	font-family: sans-serif;
}

h1 {
	background-color: rgb(165, 165, 180);
	color: rgb(254, 254, 254); /* Same as body background. */
	font-size: 42px;
	padding: 45px 15px 35px; /* You want three values. */
	font-weight: bold;
	text-transform: uppercase;
}


h2 {
	background-color: rgb(165, 165, 180);
	color: rgb(254, 254, 254);
	font-size: 32px;
	padding: 0px 15px 20px;
	font-family: serif;
	font-weight: bold;
}

h3 {
	margin: 70px 15px 30px; /*Three values again. You got the idea.*/
	padding-top: 15px;
	font-size: 24px;
	color: rgb(178,34,34);
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.1em; /*Just an extra tracking for bold uppercase letters. Try 0.1em */
	border-top: 3px solid rgb(178,34,34);
}

h4 {
	font-weight: bold;
}

p.description {
	font-style: italic;
}

p.price {
	color: rgb(178,34,34);
}

ul {
	margin: 40px 15px 40px;
}

li { 
	margin: 18px 0px;
	list-style-type: none;
}
