/*CSS DOCUMENT*/

body {
	font-family: sans-serif;
	line-height: 1.4em;
	color: #222;
	background-color: #fafafa;
	box-sizing: border-box;
	}

img {
	width: 100%;
	}


div.container{
	display: flex;
	flex-wrap: wrap;
	max-width: 60em;
	margin: 2em 5em 2em 5em;
	justify-content: center;
	padding: 1em;
}

header {
	flex: 1 0 100%;
}

article {
	flex: 2 0 30em;
}

aside {
	flex: 1 0 15em;
}

footer {
	flex: 1 0 100%;
	border-top: 1px solid #888;
	padding-top: 1em;
}

section {
	padding: 0.75em;
	margin-top: 1em;
	margin-left: 1em;
	background: #d3d3d3;
}

h2 {
	padding-top: 0.5em;
}

h3 {
	margin: 0em;
}

p {
	margin-top: 0em;
}

figure {
	margin-left: 0;
	margin-right: 0;
}

a {
	text-decoration: none;
	color: #000000;
}

ol {
	padding-left: 1em;
}




